@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap');

/* Universal styling */

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 300;
    margin: 0;
    background-color: gainsboro;
    overflow: scroll;
}

h1,
h2,
h3 {
    font-family: 'Source Sans Pro', sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: ghostwhite;

}

h1 {
    font-size: 300%;
}

h2 {
    font-size: 200%;
}

p {
    font-size: 30px;
    color: black;

}

/* Logo */

#logo {
    float: left;
    font-size: 280%;
    margin-left: 30px;
}

/* Navigation bar */

#header-color {
    background-color: crimson;
    overflow: auto;
}

#links {
    font-size: 125%;
    letter-spacing: 3px;
}